<footer class="main-footer">
  <div class="container">
      <div class="footer-content">
          <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-12 footer-column d-flex justify-content-center">
                  <div class="logo-widget footer-widget">
                      <figure class="logo-box"><a href="#"><img src="https://i.imgur.com/h82uXHM.png" alt=""  width="150px"></a></figure>
                      <div class="texto text-justify">
                          <p>Lorem ipsum dolor amet consectetur adi pisicing elit sed eiusm tempor incididunt ut labore dolore magna aliqua enim ad minim veniam quis.nostrud exercita.laboris nisi ut aliquip ea commodo conse quatuis aute irure.</p>
                      </div>

                      <!-- ! REDES SOCIAIS -->
                      <div>
                        <button class="g mr-3"><a href="https://github.com/Veggieats"  target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></button>
                        <button class="g mr-3"><a href="https://www.instagram.com/veggi.eatss/"  target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></button>
                        <button class="g mr-3"><a href="https://twitter.com/Veggieatss"  target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></button>
                        <button class="g mr-3"><a href="https://www.facebook.com/people/Veggieats-Veg/100081557280621/"  target="_blank">
                          <i class="fa fa-facebook-square" aria-hidden="true"></i> </a></button>
                        <button class="g mr-3"><a href="https://www.youtube.com/channel/UCiaKWt5tRKkq0niWsGi4NGQ"  target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></button>
                      </div>
                    </div>
                </div>

                <!-- ! SERVIÇOS -->
              <div class="col-lg-3 col-md-6 col-sm-12 offset-lg-1 footer-column">
                  <div class="service-widget footer-widget">
                      <div class="footer-title">SERVIÇOS</div>
                      <ul class="texto">
                          <li><a href="#" routerLink="/sobre">Institucional</a></li>
                          <li><a href="#" routerLink="contato">Contato</a></li>
                          <!-- <li><a href="#">Parceiros</a></li>
                          <li><a href="#">Fidelidade</a></li> -->
                      </ul>
                  </div>
              </div>

              <!-- !CONTATO -->
              <div class="col-lg-3 col-md-6 col-sm-12 footer-widget">
                  <div class="contact-widget footer-widget">
                      <div class="footer-title">Trabalhe Conosco</div>
                      <div class="texto">
                          <p>Quer se juntar a nossa equipe? Entre em contato!</p>
                          <p>veggieatsprojeto@gmail.com</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
<!-- main-footer end -->

        <!-- ! SEGUNDO FOOTER -->
  <div class="container-fluid footer d-flex justify-content-center text-center">
      <div class="row texto">
        <a class="mr-5" href="#">Termos e Serviços</a>
        <div class="texto mr-5"><a href="#">Veggieats</a> &copy; 2022 Todos os direitos reservados</div>
                  <a href="#">Politica de privacidade</a>
      </div>
  </div>
