<div>
  <div class="montserrat container mt-5 ">

    <div>
      <h1 class="container fredoka text-center mb-5">Entre em contato</h1>
      <p class="mb-50 text-center"></p>

        <hr class="mb-50" size="10" width="50%"  noshade>

      <div class="row d-flex justify-content-center">
        <div class="col-sm-6">
          <div class="">
            <div class="card-body">
              <h5 class="card-title">CONTATO</h5>
              <p class="card-text ">Tel: (11) 3456-7890</p>
              <p>Email: veggieatsprojeto@gmail.com</p>

            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="">
            <div class="card-body ">
              <h5 class="card-title">ENDEREÇO</h5>
              <p class="card-text">Av. Bernardino de Campos 98</p>
              <p> São Paulo, SP 12345-678</p>

            </div>
          </div>
        </div>
      </div>

      <form>
        <div class="row d-flex justify-content-center">
          <div class="col-md-6">
            <label for="Nome" class="form-label">Nome</label>
            <input type="text" class="form-control mb-3" id="nome" placeholder="Ex: João" onkeyup='validaNome()'>
            <div id=""></div>
          </div>

          <div class="col-md-6">
            <label for="Sobrenome" class="form-label">Sobrenome</label>
            <input type="text" class="form-control mb-3" id="sobrenome" placeholder="Augusto">
          </div>

        </div>

        <div class="row">
          <div class="col-sm-6">
            <label for="Email" class="form-label">Email</label>
            <input type="email" class="form-control mb-3" id="email" placeholder="name@example.com">
          </div>
          <div class="col-sm-6">
            <label for="Assunto" class="form-label">Assunto</label>
            <input type="text" class="form-control" id="assunto" placeholder="Digite o assunto">
          </div>
        </div>

        <div class="mb-3">
          <label for="Dig_mesage" class="form-label text-center">Digite sua mensagem aqui...</label>
          <textarea class="form-control" id="Dig_mesage" rows="3">Digite sua mensagem aqui...</textarea>
        </div>
        <div class="row">
          <div class="col-md d-flex justify-content-center mr-0 ">
            <button type="submit" class="btn btn-success mb-50" (click)="enviar()">Enviar</button>
          </div>
        </div>


            <div class=" container mb-3">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.480424509091!2d-46.65261248581766!3d-23.551182967099777!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce584a8a0b8cb1%3A0x1ca4ba7ea36c0373!2sR.%20Augusta%2C%20450%20-%20Consola%C3%A7%C3%A3o%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2001305-000!5e0!3m2!1spt-BR!2sbr!4v1650345750403!5m2!1spt-BR!2sbr"
                width="992" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"
                onmousemove="mapaZoom()" onmouseout="mapanormal()" id='mapa'></iframe>


              </div>
      </form>
    </div>
  </div>

  <div class="ml-50"></div>
</div>
