.fs-16{
    font-size: 16pt;
}

a{
    cursor: pointer;
}
.nav-verde{
  font-size:18px ;
  margin-right: 15px;
  color: var(--verdePadrao);
}
.nav-verde:hover{
  color: var(--roxoPadrao);
  text-decoration: none;
}
.nav-conta{
  font-size:18px ;
  margin-right: 15px;
  color: var(--marromPadrao);
}
.nav-conta:hover{
  color: var(--roxoPadrao);
  text-decoration: none;
}
.fa{
  color: var(--marromPadrao)
}
.fa:hover{
  color: var(--roxoPadrao);
}
.bg{
  background-color:  var(--verdeClaro);
}
.centro{
    justify-content: center;
    margin: 0 auto;
    float: right;
}
.aumentar:hover{
  font-size: 1.5rem;
}
.dropdown-item{
  color: var(--marromPadrao);
}
.dropdown-item:hover{
  color: var(--roxoPadrao);
  background-color: transparent;
}
.logoVeg{
  background-size: cover;
  height: 80px;
  width: 80px;
}