<div class="container-fluid">
  <div class="row d-flex align-items-center">

    <!-- Entrar -->
    <div class="col-md-6">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 border border-success bg-light rounded">

          <p class="text-center mt-5 mb-5">
            Já tem cadastro? Entre aqui!
          </p>

          <h1 class="text-center mb-3">Entrar</h1>

          <div class="form-group">
            <label for="usuario">Usuario</label>
            <input [(ngModel)]="usuarioLogin.usuario" class="form-control" type="text" name="usuario" id="usuario" placeholder="Seu usuário">
          </div>

          <div class="form-group">
            <label for="senha">Senha</label>
            <input [(ngModel)]="usuarioLogin.senha" class="form-control" type="password" name="senha" id="senha" placeholder="Sua senha">
          </div>

          <div class="d-flex justify-content-center mt-5 mb-5">
            <button type="submit" class="btn btn-success" (click)="entrar()">Entrar</button>
          </div>

        </div>

      </div>
    </div>
    <!-- /Entrar -->

    <!-- Cadastrar -->
    <div class="col-md-6 mt-5 mb-5">

      <div class="row d-flex justify-content-center">
        <div class="col-md-10 border border-success bg-light rounded">

          <p class="text-center mt-5 mb-5">
            Ainda não se cadastrou? Comece por aqui!
          </p>

          <h1 class="text-center">Cadastro</h1>

          <div class="form-group">
            <label for="nome">Nome</label>
            <input [(ngModel)]="usuario.nome" class="form-control" type="text" name="nome" id="nome" placeholder="Seu nome">
          </div>

          <div class="form-group">
            <label for="usuario">Usuario</label>
            <input [(ngModel)]="usuario.usuario" class="form-control" type="text" name="usuario" id="usuario" placeholder="Seu usuário">
          </div>

          <div class="form-group">
            <label for="foto">Link</label>
            <input [(ngModel)]="usuario.foto" class="form-control" type="text" name="foto" id="foto" placeholder="Link da sua foto">
          </div>
          <div class="form-group">
            <label for="cpf">cpf</label>
            <input [(ngModel)]="usuario.cpf" class="form-control" type="text" name="cpf" id="cpf" placeholder="seu cpf">
          </div>

          <div class="form-group">
            <label for="senha">Senha</label>
            <input (input)="confirmSenha($event)" class="form-control" type="password" name="senha" id="senha" placeholder="Sua senha">
          </div>

          <div class="form-group">
            <label for="confirmSenha">Confirmar Senha</label>
            <input [(ngModel)]="usuario.senha" class="form-control" type="password" name="confirmSenha" id="confirmSenha"
              placeholder="Confirme sua senha">
          </div>

          <div class="form-group">
            <label for="tipo">Tipo de usuario</label>
            <select [(ngModel)]="usuario.tipoUsuario" (change)="tipoUser($event)" class="form-control" name="tipo" id="tipo">
              <option>Selecione um tipo de usuário</option>
              <option value="vendedor">Vendedor(a)</option>
              <option value="comprador">Comprador(a)</option>
            </select>
          </div>

          <div class="d-flex justify-content-center mt-5 mb-5">
            <button type="submit" class="btn btn-danger mr-4" routerLink="/entrar">Cancelar</button>
            <button type="submit" class="btn btn-success" (click)="cadastrar()">Cadastrar</button>
          </div>

        </div>
      </div>
    </div>
    <!-- /Cadastrar -->

  </div>
</div>