:root{
  --verdePadrao: #579d18;
  --marromPadrao: #6f6047;
  --roxoPadrao: #8b2fc5;
  --laranjaPadrao: #dc9b1e;
  --verdeClaro: #d9f7cd;
  --laranjaClaro: #f1deba;
  --marromClaro: #b49155;
  --roxoClaro: #b684da;
  --roxoMaisClaro: #f0cef8;
}
.montserrat{
    font-family: 'Montserrat', sans-serif;
}
.fredoka{
    font-family: 'Fredoka One', cursive;}
/*Para dispositivos com width menor que 768px*/
body {
  padding-top: 100px;
}

/*Para dispositivos com width maior ou igual a 768px*/
@media (min-width: 768px) {
body {
    padding-top: 100px;
  }
}
