/* --CSS DA NAVBAR-- */
.fs-16{
  font-size: 16pt;
}

.verde{
background-color:  #579d18;
}

.card-carrosel{
height: 600.99px;
width: 1110px;
display:flex;
}
.main-content{
  display: flex;
  justify-content: center;
}
.clicavel {
  cursor: pointer;
  background-color: var(--larajaClaro);
  padding: 15px;
}
.clicavel:hover{
  text-decoration: none;
  color:var(--verdePadrao)
}
.jumbotron{
  padding: 0px;
  background-color: var(--verdePadrao);
  color: white;
}
.lead{
  font-size: 15px;
}