<!--                              ! CARROSSEL INICIAL                           -->
<div class="container my-4">
  <div class="row w-100">
    <div class="col-md-12 espaco">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide><img src="https://i.imgur.com/IK8uiBL.jpg" alt="" class="espaco"></ng-template>
        <ng-template carouselSlide><img src="https://i.imgur.com/88YqDvD.jpg" alt="" class="espaco" ></ng-template>
        <ng-template carouselSlide><img src="https://i.imgur.com/nebw0qJ.jpg" alt="" class="espaco"></ng-template>
      </owl-carousel-o>
    </div>
  </div>
</div>
<!--                               /! CARROSSEL INICIAL                           -->

<!--                              ! BARRA DE PESQUISA                                       -->
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row d-flex justify-content-center  align-items-center">
        <div class="col-md-7">
          <div class="form-group mb-5 mt-5">
            <input type="text" class="form-control" id="tituloPesquisa" placeholder="Digite para pesquisar" [(ngModel)]="nomeProduto"
            (keyup)="findByTituloProduto()">
          </div>
        </div>
        <div class="col-md-2 mb-2 mt-2 text-end">
          <img src="https://i.imgur.com/A1ddOPs.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
<!--                              /! BARRA DE PESQUISA                                       -->



<!--                              !FILTRAGEM DE PRODUTOS                                   -->

<div class="container">

	<div class="row" id="filter" class="d-flex justify-content-around">
		<form class="form-row">


      <div class="form-group col-sm-3 col-xs-6">
        <button class="form-control">BOTAO</button>
      </div>

      <div class="form-group col-sm-3 col-xs-6">
        <button class="form-control">BOTAO</button>
      </div>

      <div class="form-group col-sm-3 col-xs-6">
        <button class="form-control">BOTAO</button>
      </div>

    </form>
  </div>
</div>


                    <!--todo: Postagens: LINKS-->
<div class="container form-row" id="produto">
  <nav>

    <div class="nav nav-tabs d-flex justify-content-center my-3 form-group" id="nav-tab" role="tablist">
      <button class="nav-item nav-link active form-control" id="todosProdutos-tab" data-toggle="tab" href="#todosProdutos" role="tab" aria-controls="todosProdutos" aria-selected="true">Todos produtos</button>

                <!-- todo: aqui tem que por sobre restaurante -->

      <button (click)='getAllUsuarios()' class="nav-item nav-link form-control" id="meusProdutos-tab" data-toggle="tab" href="#meusProdutos" role="tab" aria-controls="meusProdutos" aria-selected="false">Minhas postagens</button>

                <!-- todo: fim aqui tem que por sobre restaurante -->

      <button class="nav-item nav-link form-control" id="produtoCategoria-tab" data-toggle="tab" href="#produtoCategoria" role="tab" aria-controls="produtoCategoria" aria-selected="false">Produtos por categoria</button>

    </div>

  </nav>
<div class="tab-content" id="nav-tabContent">

<!--                              /!FILTRAGEM DE PRODUTOS                                   -->



<!--                              ! CARDS RESTAURANTES                                          -->
    <div class="tab-content mt-5 container-fluid d-flex justify-content-around" id="nav-tabContent">

<!--                              ! TODOS OS PRODUTOS

    <!--todo: TODAS AS POSTAGENS-->

    <div class="tab-pane fade show active" id="todosProdutos" role="tabpanel" aria-labelledby="todosProdutos-tab">
      <div class="card-columns">

        <div class="card text-center" *ngFor="let item of listaProdutos">
          <div class="card-body">
            <img src="{{item.foto}}" class="card-img-top img-fluid"  alt="Imagem do produto">
            <h5 class="card-title m-0 mt-3">{{item.nome}}</h5>
            <small class="tema">{{item.usuario.nome}}</small>
            <p class="card-text mt-2">{{item.descricao}}</p>
            <p class="card-text mt-2">R$: {{item.preco}}</p>
            <p class="card-text"><small class="text-muted"> Categoria: {{item.categoria.nome}}</small></p>

            <a [routerLink]="['/produto-edit', usuario.id]" class="btn btn-outline-secondary mr-3 mt-3">Editar</a>
            <a [routerLink]="['/produto-delete', usuario.id]" class="btn btn-outline-danger mr-3 mt-3">Apagar</a>

            <button class="btn btn-outline-info mt-3" (click)="getProdById(produto.id)">COMPRAR</button>

          </div>
      </div>
    </div>
    </div>


    <!-- <div class="container" >
      <div class="row">
        <div class="col-md-3">
        <div class="tab-pane fade" id="todosProdutos" role="tabpanel" aria-labelledby="todosProdutos-tab">
          <div class="card-columns d-flex justify-content-center" *ngFor="let item of listaProdutos">
          <div class="card text-center" style="width: 18rem;">
            <img src="{{item.foto}}" class="card-img-top img-fluid"  alt="Imagem do produto">
              <div class="card-body">
                <h5 class="card-title">{{item.nome}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{item.usuario.nome}}</h6>
                <p class="card-text">{{item.descricao}}</p>
                <a [routerLink]="['/produto-edit', item.id]" class="btn btn-outline-secondary mr-3 mt-3">Editar</a>
                <a [routerLink]="['/produto-edit', item.id]" class="btn btn-outline-danger mr-3 mt-3">Apagar</a>
              </div>
            </div>
          </div>
        </div>
      </div></div>
      </div> -->


      <!--                              /! TODOS OS PRODUTOS                                      -->


      <!--                              ! POR RESTAURANTE             -->


    <!--todo: MINHAS POSTAGENS-->
    <div class="tab-pane fade" id="meusProdutos" role="tabpanel" aria-labelledby="meusProdutos-tab">
      <div class="card-columns">
        <!-- <div class="card text-center" *ngFor="let usuario of listaUsuarios"> -->
          <div class="card-body" *ngIf="usuario.tipoUsuario == 'vendedor'"> -->
             <div *ngFor="let item of listaProdutos">
              <h5 class="card-title m-0">{{usuario.nome}}</h5>
            <h5 class="card-title m-0">{{item.nome}}</h5>
            <small class="categoria">Categoria: {{item.categoria.nome}}</small>
            <p class="card-text mt-2">{{item.descricao}}</p>
            <p class="card-text mt-2">{{item.preco}}</p>
              <p class="card-text"><small class="text-muted">Publicado pelo restaurante: {{item.usuario.nome}}</small></p>
          <div class="d-flex justify-content-around">
            <a [routerLink]="['/produto-edit', produto.id]" class="linkB">ATUALIZAR</a>
            <a [routerLink]="['/produto-delete', produto.id]" class="">EXCLUIR</a>
          </div>
          </div>
          </div>
      </div>
    </div>
    <!-- </div> -->



      <!-- <div class="container" *ngFor="let usuarios of listaUsuarios">
        <div *ngFor="let item of usuario.produto"> -->
        <!-- <div *ngIf="usuario.tipoUsuario == 'vendedor'"> -->


          <!-- <div class="tab-pane fade" id="prodPorRestaurante" role="tabpanel" aria-labelledby="prodPorRestaurante-tab"> -->
            <!-- <div class="card text-center" style="width: 18rem;">
              <img src="{{usuario.foto}}" class="card-img-top img-fluid"  alt="Imagem do produto">
              <div class="card-body">
                <h5 class="card-title">{{usuario.nome}}</h5>
                <! <h6 class="card-subtitle mb-2 text-muted">{{usuario.usuario.nome}}</h6>
                <p class="card-text">{{usuario.descricao}}</p> -->
                <!-- <a [routerLink]="['/produto-edit', usuario.id]" class="btn btn-outline-secondary mr-3 mt-3">Editar</a>
                <a [routerLink]="['/produto-edit', usuario.id]" class="btn btn-outline-danger mr-3 mt-3">Apagar</a> -->
            <!-- </div>
          </div> -->
        <!-- </div>
      </div>
    </div> -->
  <!-- </div> -->


    <!--                              ! /POR RESTAURANTE                                          -->


    <!--                              ! POR CATEGORIA                                          -->

        <!--todo: POSTAGENS POR TEMA-->
    <div class="tab-pane fade" id="produtoCategoria" role="tabpanel" aria-labelledby="produtoCategoria-tab">

      <div class="card-columns" *ngFor="let categoria of listaCategorias">
        <div class="card text-center" *ngFor="let item of categoria.produto">
          <div class="card-body">
            <img src="{{item.foto}}" class="card-img-top img-fluid"  alt="Imagem do produto">
            <h5 class="card-title m-0">{{item.nome}}</h5>
            <p class="card-text mt-2">{{item.descricao}}</p>
            <p class="card-text"><small class="text-muted">Publicado pelo restaurante: {{item.usuario.nome}}</small></p>
          </div>
      </div>
    </div>

    </div>
  </div>
</div>


    <!--                              ! /POR CATEGORIA                                          -->
    <!--                              ! /CARDS RESTAURANTES                                    -->
      <hr>
      </div>



